Icons/maxresdefault.jpg
window functions, maybe they will work maybe they wont idk who cares dont talk to me until i have my coke zero/Both_Accelerated_Scrolling_1.3_AND_Cursor_click_visualizer-100UI.ahk
Icons/GIT IGNORE THIS FOLDER/thumb__ownloads_folder.png
Icons/GIT IGNORE THIS FOLDER/Notepad_plus_plus.png
Icons/GIT IGNORE THIS FOLDER/maxresdefault.jpg
Icons/GIT IGNORE THIS FOLDER/Google Chrome icon new.png
Icons/GIT IGNORE THIS FOLDER/file-explorer-folder-libraries-icon-18298.png
Icons/GIT IGNORE THIS FOLDER/discord-1-555369.png
Icons/GIT IGNORE THIS FOLDER/934653214719cf630e0f5cf9c746b364.png
Icons/GIT IGNORE THIS FOLDER/644-200.png
Icons/GIT IGNORE THIS FOLDER/284-2847989_discord-new-logo-icon-discord-icon.png
Rewriting/2nd-keyboard/Corsair/2nd-keyboard.ahk
Rewriting/2nd-keyboard/Corsair/K55 wrapped in F24.cueprofile
.vscode/launch.json
